%screen-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  display: flex;
}

.App_aside {
  width: 50%;
  @extend %screen-centering;
}

.App_form {
  width: 50%;
  overflow: auto;
  background-image: url("./images/07cc6abd390ab904abbf31db5e6ea20357f8b127.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 350%;
  color: black;
}

.info-box {
  width: 70%;
  height: 70%;
}

.center {
  text-align: center;
}

// Legend for codes below: 
// m = margin, p = padding
// t = top, b = bottom, r = right, l = left
// 0 = removal of (m/p) and 1/2/3... = addition of (m/p)

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.MuiFormControl-marginNormal {
  margin-top: 0 !important;
}

.container {
  height: 100vh;
  width: 100%;
  @extend %screen-centering;
}

.infoBox {
  height: 75%;
  width: 30%;
}

//Profile page styling

.pageArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f6f6;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
}

.menuArea {
  @extend %screen-centering;
}

.infoArea {
  width: 80%;
}
.menuArea {
  width: 20%;
  float: left;
}
.settingsArea {
  float: right;
  background-color: white;
  width: 79%;
}

.text-right {
  text-align: right;
}

.submit-button {
  background-color: #f04040 !important;
  color: white !important;
}

.submit-button:disabled {
  color: rgba(255, 255, 255, 0.3) !important;
  background-color: #00000065 !important;
}

.MuiInput-underline:before{
  border-bottom: none !important;
}

.invisible {
  display: none;
}