%screen-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App_aside {
  width: 50%;
  @extend %screen-centering;
}

.App_form {
  width: 50%;
  overflow: auto;
  background-image: url("./images/07cc6abd390ab904abbf31db5e6ea20357f8b127.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 350%;
  color: black;
}

.info-box {
  width: 70%;
  height: 70%;

  border: 1px solid grey;
}

.center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 100rem;
}

.MuiFormControl-marginNormal {
  margin-top: 0 !important;
}

.container {
  height: 100vh;
  width: 100%;
  @extend %screen-centering;
}

.infoBox {
  height: 75%;
  width: 30%;
}

//Profile page styling

.pageArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 100%;
  border: 1px solid red;
  padding-bottom: 10px;
}

.menuArea {
  @extend %screen-centering;
}

.infoArea {
  width: 80%;
  border: 1px solid grey;
}
.menuArea {
  border: 1px solid blue;
  width: 20%;
  float: left;
}
.settingsArea {
  float: right;
  background-color: white;
  border: 1px solid green;
  width: 79%;
}

.text-right {
  text-align: right;
}

.submit-button {
  background-color: #f04040 !important;
  color: white !important;
}

.submit-button:disabled {
  color: rgba(255, 255, 255, 0.3) !important;
  background-color: #00000065 !important;
}

.invisible {
  display: none;
}